@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is a demonstration of the Microsoft Azure Cognitive Services - Face API.</p>

<p>It simulates loading a user directory to the Face API Person Group, and then performing user identity validation against this group to identify and display user information.</p>

<h4>If you are interesting in learning more about Azure Government</h4>
<p>https://azure.microsoft.com/en-us/overview/clouds/government/</p>

<h4>If you are interesting in learning more about the Azure Face API</h4>
<p>https://azure.microsoft.com/en-us/services/cognitive-services/face/</p>
