@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    12012 Sunset Hills Rd. Ste 100<br />
    Reston, VA 20190<br />
    <abbr title="Phone">P:</abbr>
    703.673.7600
</address>
